header{

    background-color: white;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
    
    & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80vw;
    }
}